
@font-face {
    font-family: "Caviar Dreams";
    src: url(/fonts/Caviar-Dreams/CaviarDreams.ttf);

}

@font-face {
    font-family:"Caviar Dreams";
     src: url(/fonts/Caviar-Dreams/CaviarDreams-Bold.ttf);
      font-weight: bold;
      
}

@font-face {
     font-family: "Caviar Dreams";
      src: url(/fonts/Caviar-Dreams/CaviarDreams-Italic.ttf);
       font-style: italic;
}
@font-face {
     font-family: "Caviar Dreams";
      src: url(/fonts/Caviar-Dreams/CaviarDreams-BoldItalic.ttf);
       font-style: italic;
        font-weight: bold;
}


@keyframes navlinks {
     0% {color: darkred;}
     60% {color: black;}
     100% {
        color: darksalmon;
        transform: translateX(10px);
    }
}


@media screen and (max-width: 400) {
    body {background: transparent;}
}
    

main {
    
    border-left: medium solid black;
    border-right: medium solid black;
    border-top: medium solid black;
    border-bottom: medium solid black;

    border-top-left-radius: 30pt;
    border-bottom-left-radius: 30pt;


}









table.catalog h3::after {content: ":";}



table.catalog h3 {
    font-family: "Caviar Dreams";
    font-size: 20pt;
    text-decoration:underline;
    color: rgb(169, 169, 169, 0.5);
}
table.catalog p {
    font-family: "Caviar Dreams";
    font-style: italic;
    
}

body {font-family: Arial;
    background-image:  url(/img/roll_arigato.jpg), url(/img/BACK.jpg);
    background-size: 60pt, cover;
    background-attachment: fixed;

    background-position: 10pt 8pt, 0pt 0pt;
    background-repeat: no-repeat;

    margin: 0px;
}

p {font-size: 14pt !important;}
p.greeting {font-size: 24pt;}

.advertising {margin-left: 30pt;}

main {
    text-align: justify;
    
}

.advertising div {
    font-size: 12pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}
.bigger {font-size: 16pt;}
table.pricelist th, table.pricelist td {
    border: grey thin solid;
    padding: 4px;
}

table.pricelist{
    font-style: italic;
    text-align: left;
    border: 2px solid black;
    margin-bottom: 10pt;

}



table.catalog {
    border-collapse: collapse;

}
table.catalog td {
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    padding: 10px;
}
table.catalog img {width: 200px;}
table.pricelist thead th {
    color: white;
    background-color: grey;
}
table.pricelist tfoot td {
    text-align: right;
    font-style: italic;
}

nav {
    float: left;
    width: 150px;
    margin: 10px 40px 20px 0px;
    padding: 10px;
    border: black medium solid ;
    border-radius: 30px;
   

    margin-left: 20px;
    margin-bottom: 20px;


}



table.catalog tr:last-child td  {
    border-top: none;
}

table.catalog tr:last-child td {
    border-bottom: none;
}



.img1{
    border: 3px solid black;
    margin: 0px 20px;
    padding: 5px;
    vertical-align: text-bottom;
}


nav a:link, nav a:visited {
    color: rgb(0, 139, 88);
    text-decoration: none;
    
}

nav a:active, nav a:hover {
    color: darksalmon;
    text-decoration: none;
    transform: scale(1.2,1.2)
  

}

form{
        width: 400px;
        padding: 0px 10px;
        border: thin dotted darkgrey;
        border-radius: 5px;

        margin-left: 10px;
        margin-bottom: 20px;
        background-color: rgb(232, 232, 232);

        box-shadow: 5px 5px 5px 5px darkgray;


    }

    main h2{
        margin-left: 100px;
    }


button,input[type=submit] {
        font: bold 20pt verdana;
        text-transform: uppercase;
        width: 250px;
        border: thick solid black;
        border-radius: 0px;
    }

    form textarea, input::placeholder{
        font-style: italic;
        text-align: center;
        font: bold 12pt verdana;
    }


    .col1 {
        column-width: 150px;
    }

    .col2 {
        column-count: 3;
    }


    nav div, nav a{
        font-size: 20pt;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    nav a {display: block;}
    
aside{
    float: right;
    margin: 20px 0px 20px 20px;
    padding: 5px;
    border: 5px;
    background-color:red;
    align-self: center;
}

nav2{
    margin: 10px 10px 10px 80px;
    padding: 5px;
    border: 4px solid grey;
    font: 16pt Arial, sans-serif;
    display: flex  ;
    justify-content: space-around;
   

}

nav2 a:link, nav2 a:visited {
    color: blue;
    background-color: white;
    text-decoration: none;

}

nav2 a:active, nav2 a:hover {
    color: white;
    background-color: blue;
    text-decoration: none;
    transform: scale(1.2,1.2) translateY(4px) 
    
}

nav2 a {display: block;}

nav2 div{
color: white;
background-color: grey;
}

header{
    background-color: white;
    height: 80pt;
    margin-bottom: 20pt;
}


.pos1, .pos2, .pos3, .pos4{
    position: absolute;
}

.pos1{
    left: 0pt;
    top: 0pt;
    width: 140pt;
}

.pos1 img{height: 80pt;}


.pos2{
    left: 140pt;
    top: 29pt;
    right: 0pt;
}

.pos2 h1 {
    font:  bold italic 42pt Verdana;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 10pt;
    margin: 0px;
    background-color: darksalmon;

}

.pos3 {
    left: 140pt;
    top: 4pt;
    right: 70pt;
}

.pos3 h1 {
    font: bolt 24pt Verdana;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 6pt;
    margin: 0px;
    color: darksalmon;
}


footer {
    text-align: right;
    background-color: white;
    height: 120pt;
    position: relative;
}



.pos4{
    top: 0pt;
    right: 20pt;
}

.pos5{
    top: 20pt;
    left: 20pt;
    border: 2px solid black;
    position: absolute;
    background-color: yellow;
    text-decoration: underline;
    

}

.pos5 a  {
    font:  bold  42pt Verdana;
    text-transform: uppercase;
    letter-spacing: 3pt;
    margin: 0px;
    text-align: center;
    font-size: 15pt;

}
