
@font-face {
    font-family: "Caviar Dreams";
    src: url(/fonts/Caviar-Dreams/CaviarDreams.ttf);

}

@font-face {
    font-family:"Caviar Dreams";
     src: url(/fonts/Caviar-Dreams/CaviarDreams-Bold.ttf);
      font-weight: bold;
      
}

@font-face {
     font-family: "Caviar Dreams";
      src: url(/fonts/Caviar-Dreams/CaviarDreams-Italic.ttf);
       font-style: italic;
}
@font-face {
     font-family: "Caviar Dreams";
      src: url(/fonts/Caviar-Dreams/CaviarDreams-BoldItalic.ttf);
       font-style: italic;
        font-weight: bold;
}


main {
    
    border-left: medium solid black;
    border-right: medium solid black;
    border-top: medium solid black;
    border-bottom: medium solid black;

    border-top-left-radius: 30pt;
    border-bottom-left-radius: 30pt;


}






header h1 {
    font: bold 42pt Verdana, sans-serif;
    text-align: right;
    color: white;
    background-color: black;

    margin-top: 8pt;
    margin-right: 8pt;
    margin-left: 80pt;

    padding-right: 12pt;

   
}



table.catalog h3::after {content: ":";}



table.catalog h3 {
    font-family: "Caviar Dreams";
    font-size: 20pt;
    text-decoration:underline;
    color: rgb(169, 169, 169, 0.5);
}
table.catalog p {
    font-family: "Caviar Dreams";
    font-style: italic;
    
}

body {font-family: Arial;
    background-image:  url(/img/roll_arigato.jpg), url(/img/BACK.jpg);
    background-size: 60pt, cover;
    background-attachment: fixed;

    background-position: 10pt 8pt, 0pt 0pt;
    background-repeat: no-repeat;
}
h1 {
    font-size: 32pt;
    font-family: Verdana;
    text-shadow: 3pt 3pt 5pt darkgray;
}
p {font-size: 14pt !important;}
p.greeting {font-size: 24pt;}
.picture img{
width: 67%;
min-width: 500px;
max-width: 700px;
}
h1 em {font-weight: normal;}
.advertising {margin-left: 30pt;}
header {text-align: center;}
main {text-align: justify;}
footer {
    text-align: right;
    border: 2pt  lightgray;
}
.advertising div {
    font-size: 12pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}
.bigger {font-size: 16pt;}
table.pricelist th, table.pricelist td {
    border: grey thin solid;
    padding: 4px;
}

table.pricelist{
    font-style: italic;
    text-align: left;
    border: 2px solid black;
    margin-bottom: 10pt;

}



table.catalog {
    border-collapse: collapse;

}
table.catalog td {
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    padding: 10px;
}
table.catalog img {width: 200px;}
table.pricelist thead th {
    color: white;
    background-color: grey;
}
table.pricelist tfoot td {
    text-align: right;
    font-style: italic;
}

nav {
    float: left;
    width: 150px;
    margin: 10px 30px 10px 0px;
    padding: 10px;
    border: black medium double;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 10px darkgray;

    margin-left: 40px;
    margin-bottom: 20px;
}



table.catalog tr:last-child td  {
    border-top: none;
}

table.catalog tr:last-child td {
    border-bottom: none;
}



.img1{
    border: 3px solid black;
    margin: 0px 20px;
    padding: 5px;
    vertical-align: text-bottom;
}


nav a:link, nav a:visited {
    color: rgb(0, 139, 88);
    text-decoration: none;
}

nav a:active, nav a:hover {
    color: darksalmon;
    text-decoration: none;}

form{
        width: 400px;
        padding: 0px 10px;
        border: thin dotted darkgrey;
        border-radius: 5px;

        margin-left: 10px;
        margin-bottom: 20px;
        background-color: rgb(232, 232, 232);

        box-shadow: 5px 5px 5px 5px darkgray;


    }

    main h2{
        margin-left: 100px;
    }


button,input[type=submit] {
        font: bold 20pt verdana;
        text-transform: uppercase;
        width: 250px;
        border: thick solid black;
        border-radius: 0px;
    }

    form textarea, input::placeholder{
        font-style: italic;
        text-align: center;
        font: bold 12pt verdana;
    }


    .col1 {
        column-width: 150px;
    }

    .col2 {
        column-count: 3;
    }


    nav div, nav a{
        font-size: 20pt;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    nav a {display: block;}
    
