
*{
  box-sizing: border-box;
}
body {
  margin: 30px;
}


.wrapper {
display: grid;
  grid-template-columns: 200px 100px;
  grid-template-rows: 100px 100px;
  gap: 15px;

}

.item {
  color: red;
  fornt-size: 25px;
  font-weight: bold;

  border: 2px solid purple;
  text-align: center;
  padding: 15px;
}