
.section_light {
  background-color: var(--color-bg-medium);
}

.button {
  padding: 16px 32px;
  color: var(--color-text);
  background: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  border-radius: var(--border-10);
  cursor: pointer;
}

.button_primary {
background: var(--color-primary);
}

.button_ghost {
border: 1px solid var(--color-srtoke);
}