
:root {
  --color-primary: #6c38cc;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-medium: #1e1f29;
  --color-bg-light: #2e2d3d;
  --color-srtoke: #4d5064;

  --border-8: 8px;
}


body {
  background: var(--color-bg);
  font-family: 'FIRA SANS', sans-serif;
  font-style: normal;
  font-weight: 400;
}

