
:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #631be8;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-medium: #1e1f29;
  --color-bg-light: #2e2d3d;
  --color-srtoke: #4d5064;

  --border-8: 8px;
  --border-10: 10px;

  --layout-width: 1172px;
  --gradient: linear-gradient(93.33deg, #D77BE6 9.26%, #BE63E6 42.32%, #6c38CC 104.58%);
}


body {
  background: var(--color-bg);
  font-family: 'FIRA SANS', sans-serif;
  font-style: normal;
  font-weight: 400;
}

