/*header*/

.header {
  background-color: var(--color-bg-medium);
}


.header__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/*header*/

.header__login {
  display: flex;
  gap: 8px;
  align-items: center;

  font-size: 18px;
  line-height: 120%;
  color: var(--color-text);
  cursor: pointer;

}

.header__login:hover {
  cursor: pointer;
  color: var(--color-link-hover)

}


/* Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu__item {
  padding: 8px 16px;
}

.menu__item a {
  cursor: pointer;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-text);
}

.menu__item:hover a {
  cursor: pointer;
  color: var(--color-link-hover);
}

.menu__item_active {
  border: 1px solid var(--color-srtoke);
  border-radius: var(--border-8);
  cursor: pointer;
}

a {
  text-decoration: none;
}