.hero {
  max-width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hero__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.h1{
  margin: 0;
}


