.hero {
  max-width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px;
}


.hero__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.hero__right {
  width: 50%;
}

h1 {
  margin: 0;
  font-style: normal;
  font-size: 54px;
  font-weight: 700;
  line-height: 100%;
  color: var(--color-text);
}

.hero__h1_gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero__cta {
  display: flex;
  gap: 32px;
}

.button_primary:hover {
  background: var(--color-primary-hover);
}

.button_ghost:hover {
  background: var(--color-bg-medium);
}

@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
  }

  .hero__cta {
    justify-content: center;
  }

  .hero__H1 {
    text-align: center;

  }
}

@media (max-width: 640px) {
  .hero__H1 {
    font-size: 40px;
    line-height: 100%;
  }

  .hero__right {
    width: 100%;
    margin-top: 20px;
  }

  .hero {
    padding: 0 24px;
  }

  .header__logo {
    width: 80%;
  }

  .button {
    padding: 12px 32px;
  }

  .hero__cta {
    gap: 32px;
  }
}


