* {
  box-sizing: border-box;
}


body {
  background-color: black;
  color: white;
  font-size: 55px;
  font-family: 'FIRA SANS', sans-serif;
}

.container {
  BORDER: 10px solid #6c38cc;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;


}

.item {
  background: #232228;
  border: 1px solid #6c38cc;
  text-align: center;
  padding: 10px;
  width: calc(100% / 3);

}

