
main {
  background-color: #1e1f29;
}


h1 {
  color: #FAFAFA;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Andale Mono', monospace;
}


input, textarea, select {
  background-color: #2e2d3d;
  color: #fafafa;
}

label {
  color: #AFB2BF
}


button {
  background-color: #6c38cc;
  color: #fafafa;
}





