

h1 {
  color: #000000;
  font-size: 36px;
  font-weight: bold;

}


input, textarea, select {

}

label {
  color: #AFB2BF
}


#heroButton {
  background-color: #6c38cc;
  color: #fafafa;
}

.link {
  color: #4262ff;
  text-decoration: underline;
}

input[type="text"] {
  background-color: RED;
}

.textDekor {
  font-size: 48px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
}

.heroText{
 color: #050038;
}

.sectionText {
  color: #696688;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: Roboto, sans-serif;
}


header a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
}

.heroForm + p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #050038;
}


