# Default ignored files
/../../../../Общие файлы  - YANDEX/GitHub/learn_HTML-CSS/.idea/shelf/
/../../../../Общие файлы  - YANDEX/GitHub/learn_HTML-CSS/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Общие файлы  - YANDEX/GitHub/learn_HTML-CSS/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Общие файлы  - YANDEX/GitHub/learn_HTML-CSS/.idea/dataSources/
/../../../../Общие файлы  - YANDEX/GitHub/learn_HTML-CSS/.idea/dataSources.local.xml
